
<div id="main-store" class="store-section">
    <h1 class="category-title">Fish</h1>
    <div class="row card-row">

        @{
            foreach (AnimalCardDTO animal in Model)
            {
                @Html.Partial("_card", animal);
            }
        }

    </div>
</div>
