@{
    ViewData["Title"] = "Contact";
}
<h1 class="category-title">Contact</h1>
<div class="row" id="about-section">
    <div class="col-lg-6">
        <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3589.1555023777732!2d-80.33808538463197!3d25.897258109296086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9bb30f20dd851%3A0x96735d208e19e598!2s2576+W+84th+St%2C+Hialeah%2C+FL+33016!5e0!3m2!1sen!2sus!4v1515179564000" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
        <p id="about-description">
            <strong>Hooked on Fish & Corals</strong> in Miami is your South Florida Aquarium store for all you aquatic needs. Our store is equipped with the best aquatic systems to ensure health fish and corals. Our staff has over 10 years of experience and knowledge providing information on aquatic animal life, along with maintenance and preservation. We specialize in custom aquariums (complete set up and optional monthly maintenance), with a wide array of exotic saltwater fish, corals and frags.
            We also carry a full line of aquarium products and supplies for all your needs, Our store has over 2000 gallons of saltwater aquariums full of health marine fish, invertebrates and live corals. Throughout the years our staff has built an honest rapport with our clients, offering them the best quality of fish and products, while sharing caring advice. We provide a friendly environment and are eager to help all our customers keep a healthy marine life at home or the office.
            We invite you to come explore and capture all the beauties of marine life at <strong>Hooked on Fish & Corals</strong>.
        </p>
    </div>
</div>